---
const { style="card p-3", title, description } = Astro.props
---

<div class={ style }>
  <div class="card-body">
    <slot />
    <h2 class="h3" class="card-title">{title}</h2>
    <p class="fs-6">{description}</p>
    <slot name="button" />
  </div>
</div>

<style>
  .card {
    border-radius: 0px;
    border: 2px solid black;
  }
</style>